<md-content class="md-padding view splash" layout="column" layout-align="center center">
    <!--- CONTENT --->
    <div class="content">

        <div class="col col-4 left">
            <section class="zoek-ritten box">
                <h1>Zoek een Rit</h1>
                <form id="ritten-form" action="" method="post">
                    <p>
                        <label for="startpunt"><i class="fa fa-location-arrow"></i></label>
                        <input type="text" name="startpunt" id="startpunt" placeholder="Startpunt">
                    </p>
                    <p>
                        <label for="eindpunt"><i class="fa fa-map-marker"></i></label>
                        <input type="text" name="eindpunt" id="eindpunt" placeholder="Eindpunt">
                    </p>
                    <p>
                        <input type="submit" name="submit" id="submit" value="rit zoeken">
                    </p>
                    <p class="register-link">Bent u bestuurder?<a href="" >Rit toevoegen</a></p>
                </form>

            </section>
        </div> <!-- end col-4 -->
        <div class="col col-8 right">
            <section class="ritten box">
                <h1>Geplande ritten</h1>
                <table>
                    <thead>
                    <tr><th>ritnaam</th><th>Tijdstip</th><th class="time-left">Time left</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>
                    <tr><td>Gent - Oudenaarde</td><td><i class="fa fa-clock-o"></i><time>08:00</time></td><td class="time-left"><i class="fa fa-clock-o"></i><time>00:30</time></td></tr>

                    </tbody>
                </table>
                <div class="table-nav">
                    <a href="" class="prev left"><i class="fa fa-angle-left"></i></a>
                    <div class="table-nav-buttons">
                        <a href="">8</a>
                        <a href="">9</a>
                        <a href="" class="active">10</a>
                        <a href="">11</a>
                        <a href="">...</a>
                    </div>
                    <a href="" class="next right"><i class="fa fa-angle-right"></i></a>
                </div>
            </section>
        </div> <!-- end col-8 -->

    </div> <!-- class content -->
    <footer>
        <p>&copy; 2014 Ecoride - <a href="">Disclaimer</a></p>
    </footer>
</md-content>
