<md-bottom-sheet class="md-grid">
    <md-list>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="">
                <div class="md-icon-container">1
                    <md-inline-grid-icon icon=""></md-inline-grid-icon>
                </div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="">
                <div class="md-icon-container">2
                    <md-inline-grid-icon icon=""></md-inline-grid-icon>
                </div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="">
                <div class="md-icon-container">3
                    <md-inline-grid-icon icon=""></md-inline-grid-icon>
                </div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="">
                <div class="md-icon-container">4
                    <md-inline-grid-icon icon=""></md-inline-grid-icon>
                </div>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="">
                <div class="md-icon-container">5
                    <md-inline-grid-icon icon=""></md-inline-grid-icon>
                </div>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>