<md-toolbar>
	<div layout="row" layout-align="center center">
		<i class="icon"></i>
		<h1>Company</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<form action="">
		<section>
			<md-subheader class="md-accent">Information</md-subheader>
			<div layout layout-sm="column">
				<md-input-container flex>
					<label>Company name</label>
					<input ng-model="company.name" required>
				</md-input-container>
			</div>

			<p>I&rsquo;m best described as a:</p>
			<md-radio-group ng-model="data.role">
				<md-radio-button value="prestarter" aria-label="prestarter">prestarter</md-radio-button>
				<md-radio-button value="starter" aria-label="starter">starter</md-radio-button>
				<md-radio-button value="serial" aria-label="serial entrepreneur">serial entrepreneur</md-radio-button>
			</md-radio-group>
		</section>

		<!-- http://microformats.org/wiki/h-adr -->

		<section>
			<md-subheader class="md-accent">Registered Address</md-subheader>
			<div layout="row">
				<md-input-container flex>
					<label>Street address</label>
					<input ng-model="company.address.streetAddress" required>
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex>
					<label>Street address (additional details)</label>
					<input ng-model="company.address.streetAddressExtended">
				</md-input-container>
			</div>

			<div layout="row" layout-sm="column">
				<md-input-container flex>
					<label>Postal code</label>
					<input ng-model="company.address.postalCode" required>
				</md-input-container>
				<md-input-container flex>
					<label>Locality</label>
					<input ng-model="company.address.locality" required>
				</md-input-container>
			</div>

			<div layout="row" layout-sm="column">
				<md-input-container flex>
					<label>Region</label>
					<input ng-model="company.address.region">
				</md-input-container>
				<md-input-container flex>
					<label>Country</label>
					<input ng-model="company.address.countryName" required>
				</md-input-container>
			</div>
		</section>

	</form>
	<footer layout layout-align="space-between end">
		<md-button href="#/registration/step/2/of/4">&lt; Go back</md-button>
		<md-button href="#/registration/step/4/of/4" class="md-raised md-accent">Continue &gt;</md-button>
	</footer>
</md-content>
