// Colour Palette
// --------------

$styleguide-color-primary: yellow;
$styleguide-color-background: white;

// Fonts
// -----

$styleguide-font: Consolas, monospace;

// Style Guide Styles
// ------------------

#style-guide {
  h1, h2, h3, h4, h5, h6, p {
    &.style-guide {
      background-color: $styleguide-color-background;
      color: $styleguide-color-primary;
      font-family: $styleguide-font;
      text-align: left;
      margin-left: 1rem;
    }
  }
  div {
    &.style-guide {
      border: 1px solid $styleguide-color-primary;
      margin: auto;
      max-width: 60em;
      &-map {
        height: 50vh;
      }
    }
  }
  md-divider {
    &.style-guide {
      margin-top: 1rem;
    }
  }
}
